@{
    ViewData["Title"] = "Gummi Bear Kingdom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model GummiBearKing.Models.Gummi

<h3>@Html.DisplayFor(model => model.Name)</h3>

@Html.DisplayNameFor(model => model.Origin): @Html.DisplayFor(model => model.Origin) <br/>
@Html.DisplayNameFor(model => model.Cost): $@Html.DisplayFor(model => model.Cost)
<p>@Html.ActionLink("Back to list", "Index")</p>